@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ServiceDetail>
@{
	Layout = "mainLayout.cshtml";
}

<partial name="Partials/Layout/_PageHeader" model="(IPageHeader)Model" />

<section class="py-16">
	<div class="max-w-7xl mx-auto px-4">
		<div class="flex flex-col lg:flex-row gap-8">
			<aside class="hidden lg:flex w-3/12 flex-col gap-4">
				@Html.GetBlockListHtml(Model.ServiceDetailAside)
			</aside>
			<div class="hidden lg:block w-px self-stretch bg-border-gray"></div>

			<div class="w-full lg:w-8/12 flex flex-col gap-2 text-center lg:text-left">
				<div class="rte rte-service">
					@Html.Raw(Model.ServiceDetailBody)
				</div>
			</div>
		</div>
	</div>
</section>