@import "tailwindcss";
@import "./forms.css";
@import "./swiper.css" 

@source "./**/*.cshtml" "./Views/**/*.cshtml" "./wwwroot/**/*.js" "./**/*.css";

@theme {
    --font-poppins: "Poppins", sans-serif;
    --color-neutral: #ffffff;
    --color-white: #F2EDDC;
    --color-white-100: #F7F7F7;
    --color-dark: #0E0E0E;
    --color-primary: #4F5955;
    --color-main-light: #606966;
    --color-accent: #F2EDDC;
    --color-secondary: #D9C3A9;
    --color-gray-400: #4B5264;
    --color-body-text: #535656;
    --color-body-text-100: #999999;
    --color-notel: #9C9EA6;
    --color-border-gray: #EAEAEA;
    --color-border-400: #C7C8C9;
    --color-heading: #2E3734;

    --text-rte-xxl: 5rem; /* ~80px */
    --text-rte-xl: 4.375rem; /* ≈70px */
    --text-rte-lg: 2.5rem; /* ≈40px */
    --text-rte-md: 1.25rem; /* ≈20px */
    --text-rte-sm: 1rem; /* ≈16px */
    --text-rte-xs: 0.875rem; /* ≈14px */
}

body {
     @apply font-poppins;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
    background: none !important;
}

@layer components {
    .page-header {
        @apply bg-[var(--color-white-100)] bg-no-repeat py-16;
        background-image: url('/images/Rectangle-left.svg'), url('/images/Rectangle-right.svg');
        background-position: left bottom, top right;
    }

    .rte {
        @apply leading-relaxed text-body-text;
    }

        .rte h2 {
            @apply text-[2rem] leading-tight text-primary font-semibold mb-4;
        }

        .rte p {
            @apply mb-4;
        }

        .rte a {
            @apply text-primary underline underline-offset-4 hover:opacity-80;
        }

        .rte ul {
            @apply list-disc pl-5 mt-4 space-y-2;
        }

            .rte ul li {
                @apply text-body-text;
            }

                .rte ul li::marker {
                    @apply text-secondary;
                }

        .rte img {
            @apply block max-w-full mx-auto md:mx-0;
        }

    .rte-service img {
        @apply block max-w-full mx-auto lg:!mx-0;
    }



    .text-rte-xxl {
        font-size: var(--text-rte-xxl);
        line-height: 1.1;
    }

    .text-rte-xl {
        font-size: var(--text-rte-xl);
        line-height: 1.2;
    }

    .text-rte-lg {
        font-size: var(--text-rte-lg);
        line-height: 1.3;
    }

    .text-rte-md {
        font-size: var(--text-rte-md);
        line-height: 1.5;
    }

    .text-rte-sm {
        font-size: var(--text-rte-sm);
        line-height: 1.6;
    }

    .text-rte-xs {
        font-size: var(--text-rte-xs);
        line-height: 1.6;
    }

    .custom-pagination {
        @apply hidden md:flex md:justify-center md:items-center md:gap-8 md:py-6 md:mt-8 relative;
    }

    .custom-prev,
    .custom-next {
        @apply text-lg font-semibold flex items-center text-gray-400 cursor-pointer transition-colors;
    }

        .custom-prev:hover,
        .custom-next:hover {
            @apply text-primary;
        }

    .swiper-pagination {
        @apply flex justify-center items-center gap-3 w-auto;
    }

    .swiper-button-disabled {
    @apply opacity-40 cursor-default;
}

/* 
    
    .custom-pagination {
        @apply hidden md:flex md:justify-center md:gap-4 md:py-2 md:mt-6;
    }


    .custom-prev,
    .custom-next {
        @apply text-lg font-semibold flex items-center text-gray-400 cursor-pointer;
    }

  

    .swiper-button-disabled {
        @apply text-border-400 cursor-default;
    }

   
  .swiper-pagination {
        @apply flex justify-center items-center gap-2 relative !w-auto !bottom-0;
    }

  
    .swiper-pagination-bullet {
        @apply text-lg font-semibold flex justify-center items-center gap-2 bg-neutral rounded-full p-6;
    }
    
        .swiper-pagination-bullet:hover {
            @apply outline-1 outline-border-400 opacity-100;
        }

    .swiper-pagination-bullet-active {
        @apply bg-neutral outline-1 outline-border-400 text-primary;
    }*/

    
}

