@import "tailwindcss";

@theme {
    --font-poppins: "Poppins", sans-serif;
    --color-neutral: #ffffff;
    --color-white: #F2EDDC;
    --color-white-100: #F7F7F7;
    --color-dark: #0E0E0E;
    --color-primary: #4F5955;
    --color-main-light: #606966;
    --color-accent: #F2EDDC;
    --color-secondary: #D9C3A9;
    --color-gray-400: #4B5264;
    --color-body-text: #535656;
    --color-body-text-100: #999999;
    --color-notel: #9C9EA6;
    --color-border-gray: #EAEAEA;
    --color-border-400: #C7C8C9;
    --color-heading: #2E3734;

    --text-rte-xxl: 5rem; /* ~80px */
    --text-rte-xl: 4.375rem; /* ≈70px */
    --text-rte-lg: 2.5rem; /* ≈40px */
    --text-rte-md: 1.25rem; /* ≈20px */
    --text-rte-sm: 1rem; /* ≈16px */
    --text-rte-xs: 0.875rem; /* ≈14px */
}

body {
     @apply font-poppins;
}

@layer components {
    .page-header {
        @apply bg-[var(--color-white-100)] bg-no-repeat py-16;
        background-image: url('/images/Rectangle-left.svg'), url('/images/Rectangle-right.svg');
        background-position: left bottom, top right;
    }

    .rte {
        @apply leading-relaxed text-body-text;
    }

        .rte h2 {
            @apply text-[2rem] leading-tight text-primary font-semibold mb-4;
        }

        .rte p {
            @apply mb-4;
        }

        .rte a {
            @apply text-primary underline underline-offset-4 hover:opacity-80;
        }

        .rte ul {
            @apply list-disc pl-5 mt-4 space-y-2;
        }

            .rte ul li {
                @apply text-body-text;
            }

                .rte ul li::marker {
                    @apply text-secondary;
                }

    .text-rte-xxl {
        font-size: var(--text-rte-xxl);
        line-height: 1.1;
    }

    .text-rte-xl {
        font-size: var(--text-rte-xl);
        line-height: 1.2;
    }

    .text-rte-lg {
        font-size: var(--text-rte-lg);
        line-height: 1.3;
    }

    .text-rte-md {
        font-size: var(--text-rte-md);
        line-height: 1.5;
    }

    .text-rte-sm {
        font-size: var(--text-rte-sm);
        line-height: 1.6;
    }

    .text-rte-xs {
        font-size: var(--text-rte-xs);
        line-height: 1.6;
    }
}

