<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4e4cb12e-2a8b-4d0c-969b-306f3538de1e" Alias="aboutUsPage" Level="2">
  <Info>
    <Name>About Us Page</Name>
    <Icon>icon-graduate</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="696167c0-53fc-4efe-a185-a0ea38b0a637">pageHeader</Composition>
    </Compositions>
    <DefaultTemplate>aboutUsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cd3450cb-c2c8-48fa-ab43-0945e668170f">aboutUsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>