<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="46ce25a2-b04c-43df-9c5e-0c8c9cf6e85a" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="002dc266-44e5-4b88-89fa-628bdd62b415">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="4e4cb12e-2a8b-4d0c-969b-306f3538de1e" SortOrder="0">aboutUsPage</ContentType>
    <ContentType Key="b94e0a44-73b6-4394-90c5-eb7bac76975a" SortOrder="1">servicePage</ContentType>
    <ContentType Key="33200e4b-feeb-40a6-9df5-f4fda6b32c3c" SortOrder="2">contactPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>2a365078-559e-46b2-80c2-2ba2d63efb50</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>b04d8cbf-5153-46c3-bd42-df6d649c67cb</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5027e3bb-4f31-4e52-a0ab-9c8aab57a946</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>