<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b94e0a44-73b6-4394-90c5-eb7bac76975a" Alias="servicePage" Level="2">
  <Info>
    <Name>Service Page</Name>
    <Icon>icon-thumb-up</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="696167c0-53fc-4efe-a185-a0ea38b0a637">pageHeader</Composition>
    </Compositions>
    <DefaultTemplate>servicePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="70a11d5e-8af3-461f-bd6e-9938949c2492">servicePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7ea129fe-0e4a-43c7-a1ba-0e6943f32204" SortOrder="0">serviceDetail</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>2bee5279-73f0-4894-9aac-3b79ab9b157d</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>b04d8cbf-5153-46c3-bd42-df6d649c67cb</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9a18e70d-8b6e-45e8-a771-c88f1f365c30</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>