<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6431ca30-783f-406b-b138-6a9e96bb07c3" Alias="Icon List" Level="1">
  <Info>
    <Name>Icon List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6ab15210-a7b1-497a-bf51-7c5a835501dd",
      "label": "{umbValue: iconName}"
    }
  ]
}]]></Config>
</DataType>