<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b04d8cbf-5153-46c3-bd42-df6d649c67cb" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "cba72ed8-583a-4877-bfb9-4fee878bfcc1"
    },
    {
      "contentElementTypeKey": "787d1479-e3f7-4e17-ad3f-ec1246a59bd5",
      "settingsElementTypeKey": "8a2beaf9-c0ca-454a-86a8-7adb9815ebe9"
    },
    {
      "contentElementTypeKey": "d04f8ff1-4d0a-4f9b-a7e9-45c5df6df550",
      "settingsElementTypeKey": "9c2f2192-db8d-4396-91cb-dd45917f38b9"
    }
  ]
}]]></Config>
</DataType>