<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b04d8cbf-5153-46c3-bd42-df6d649c67cb" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "cba72ed8-583a-4877-bfb9-4fee878bfcc1"
    }
  ]
}]]></Config>
</DataType>