<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b04d8cbf-5153-46c3-bd42-df6d649c67cb" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "cba72ed8-583a-4877-bfb9-4fee878bfcc1"
    },
    {
      "contentElementTypeKey": "787d1479-e3f7-4e17-ad3f-ec1246a59bd5",
      "settingsElementTypeKey": "8a2beaf9-c0ca-454a-86a8-7adb9815ebe9"
    },
    {
      "contentElementTypeKey": "d04f8ff1-4d0a-4f9b-a7e9-45c5df6df550",
      "settingsElementTypeKey": "9c2f2192-db8d-4396-91cb-dd45917f38b9"
    },
    {
      "contentElementTypeKey": "d0a5ea35-ae82-4bdf-8b58-b4a3573b8697",
      "settingsElementTypeKey": "c8f1f62c-d02d-4958-8eec-4441d4effa6e"
    },
    {
      "contentElementTypeKey": "08514fb4-1eee-432b-80ec-e5955378061e",
      "settingsElementTypeKey": "eb62a2c6-0f92-4d86-98ef-c940d74c3b1c"
    },
    {
      "contentElementTypeKey": "910736f6-b1ae-443c-ba1c-90e59d42fdc1"
    },
    {
      "contentElementTypeKey": "7a77d7be-ed96-4999-889e-ed49b80dc8db"
    },
    {
      "contentElementTypeKey": "62cdf48f-4944-4128-9186-ef67306b9481"
    }
  ]
}]]></Config>
</DataType>