<?xml version="1.0" encoding="utf-8"?>
<DataType Key="36c85015-1ade-4ae3-be07-ac5da8ee8fbd" Alias="Service Detail Asides- List" Level="1">
  <Info>
    <Name>Service Detail Asides- List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e37cf69f-9ac6-4d97-8d62-00d5f1a85e1d"
    }
  ]
}]]></Config>
</DataType>