<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b30b756b-44fa-4c36-bcbd-2f071e9ea7e5" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d50b9794-bbf6-4db0-a20d-95d67492cab8",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>