<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f425ce25-beb5-4145-b0a8-9e4013083b3f" Alias="Success Stats" Level="1">
  <Info>
    <Name>Success Stats</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "834ba3f5-65db-4cb6-80b0-2b8980d3b013",
      "label": "{umbValue: successNumber}"
    }
  ]
}]]></Config>
</DataType>