<?xml version="1.0" encoding="utf-8"?>
<DataType Key="67c8a000-33da-4bc4-9ace-d69e0b974cd9" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "33a41826-42ae-4e00-b661-46141d14240d",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>