<?xml version="1.0" encoding="utf-8"?>
<DataType Key="35118f19-9c73-434f-b9c9-6560c3c5bd99" Alias="TextString (1)" Level="1">
  <Info>
    <Name>TextString (1)</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>