<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a96fafd-5231-42fb-9ec6-151c1428881e" Alias="aaron.svg" Level="2">
  <Info>
    <Parent Key="f8414885-ed59-4a16-b3ba-016cd06aac0f">Team Members</Parent>
    <Path>/TeamMembers/aaronsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T09:04:19</CreateDate>
    <NodeName Default="aaron.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b3ddjkbk/aaron.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>