<?xml version="1.0" encoding="utf-8"?>
<Media Key="3326f810-28ed-4872-9ed1-3eb47e929440" Alias="About us" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-03T15:57:49</CreateDate>
    <NodeName Default="About us" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>