<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c4be2ac-c500-4b49-bff5-8cdab7fdaf31" Alias="aboutUs_aside.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/aboutUs_asidesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T12:58:38</CreateDate>
    <NodeName Default="aboutUs_aside.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lzppthq1/aboutus_aside.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>