<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd17fafe-3635-412a-b03d-9e47f39efb59" Alias="aboutUs_aside.svg" Level="2">
  <Info>
    <Parent Key="451b3e7e-97af-4f25-8a51-0b61461f462a">services</Parent>
    <Path>/services/aboutUs_asidesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T10:04:05</CreateDate>
    <NodeName Default="aboutUs_aside.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/brdlklzo/aboutus_aside.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>