<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e8efe69-9f68-4cac-9b9e-26cd79b7f84c" Alias="Assurance_tn.svg" Level="2">
  <Info>
    <Parent Key="efbdf800-e3c7-40a6-a093-69eb130051c5">Services thumbnails</Parent>
    <Path>/ServicesThumbnails/Assurance_tnsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T11:15:43</CreateDate>
    <NodeName Default="Assurance_tn.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tnbdz1dt/assurance_tn.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>