<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf3c503f-a2cd-4416-8c70-7298cd3426fa" Alias="bird_icon.svg" Level="2">
  <Info>
    <Parent Key="19fa82cf-82ab-4bcc-bc71-0561ed304c7a">IconSection</Parent>
    <Path>/IconSection/bird_iconsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T15:02:03</CreateDate>
    <NodeName Default="bird_icon.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zxwj2xow/bird_icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>