<?xml version="1.0" encoding="utf-8"?>
<Media Key="b72c73f2-135c-4bd7-9d6a-6c6ed6479e8d" Alias="Bonds_tn.svg" Level="2">
  <Info>
    <Parent Key="efbdf800-e3c7-40a6-a093-69eb130051c5">Services thumbnails</Parent>
    <Path>/ServicesThumbnails/Bonds_tnsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T11:15:42</CreateDate>
    <NodeName Default="Bonds_tn.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/adhi2vkh/bonds_tn.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>