<?xml version="1.0" encoding="utf-8"?>
<Media Key="fdc1a3d2-0b7f-4088-8f59-76cdf13ceae7" Alias="brandon.svg" Level="2">
  <Info>
    <Parent Key="f8414885-ed59-4a16-b3ba-016cd06aac0f">Team Members</Parent>
    <Path>/TeamMembers/brandonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T09:04:18</CreateDate>
    <NodeName Default="brandon.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eapggh1e/brandon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>