<?xml version="1.0" encoding="utf-8"?>
<Media Key="e7cf9858-7ecf-4836-8525-062f95eaaaaf" Alias="Brand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T14:21:43</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vish0bou/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>