<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ad16678-8c1f-4c67-8d97-58433a63b134" Alias="composition-man.svg" Level="2">
  <Info>
    <Parent Key="7cc771fc-3b9d-4785-b458-817a3b84e7ae">LetUsKnow</Parent>
    <Path>/LetUsKnow/compositionMansvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T16:04:32</CreateDate>
    <NodeName Default="composition-man.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rlnhh4ae/composition-man.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>