<?xml version="1.0" encoding="utf-8"?>
<Media Key="75fa6362-7808-4c64-a93d-23d3cf2e8015" Alias="Dotmap.svg" Level="2">
  <Info>
    <Parent Key="7340ff5d-aacc-4d50-95aa-7e2e0095037b">SuccessSection</Parent>
    <Path>/SuccessSection/Dotmapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T12:02:20</CreateDate>
    <NodeName Default="Dotmap.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sdpfrfyt/dotmap.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>