<?xml version="1.0" encoding="utf-8"?>
<Media Key="e19fa26a-c5dc-435b-bd68-431e0260fa15" Alias="Financial_tn.svg" Level="2">
  <Info>
    <Parent Key="efbdf800-e3c7-40a6-a093-69eb130051c5">Services thumbnails</Parent>
    <Path>/ServicesThumbnails/Financial_tnsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T11:15:43</CreateDate>
    <NodeName Default="Financial_tn.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tapd0a4h/financial_tn.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>