<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8470078-b161-44ca-9361-75a12f38ff8d" Alias="fossil_icon.svg" Level="2">
  <Info>
    <Parent Key="19fa82cf-82ab-4bcc-bc71-0561ed304c7a">IconSection</Parent>
    <Path>/IconSection/fossil_iconsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T15:02:03</CreateDate>
    <NodeName Default="fossil_icon.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rk4pkct0/fossil_icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>