<?xml version="1.0" encoding="utf-8"?>
<Media Key="afc4fefe-8914-4fa0-8edf-b86b8db3565c" Alias="hero_image.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/hero_imagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T18:29:00</CreateDate>
    <NodeName Default="hero_image.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/brbhmtip/hero_image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>