<?xml version="1.0" encoding="utf-8"?>
<Media Key="19fa82cf-82ab-4bcc-bc71-0561ed304c7a" Alias="IconSection" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconSection</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-11T15:01:40</CreateDate>
    <NodeName Default="IconSection" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>