<?xml version="1.0" encoding="utf-8"?>
<Media Key="83f7eb54-23fe-404e-95dd-0713c17715bf" Alias="identity_icon.svg" Level="2">
  <Info>
    <Parent Key="19fa82cf-82ab-4bcc-bc71-0561ed304c7a">IconSection</Parent>
    <Path>/IconSection/identity_iconsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T15:02:02</CreateDate>
    <NodeName Default="identity_icon.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uzlfkypf/identity_icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>