<?xml version="1.0" encoding="utf-8"?>
<Media Key="f1a8c127-687f-443c-9eeb-0819a7b285dd" Alias="kevin.svg" Level="2">
  <Info>
    <Parent Key="f8414885-ed59-4a16-b3ba-016cd06aac0f">Team Members</Parent>
    <Path>/TeamMembers/kevinsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T09:04:18</CreateDate>
    <NodeName Default="kevin.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0v4aue1e/kevin.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>