<?xml version="1.0" encoding="utf-8"?>
<Media Key="15825ba0-c5e1-4b7e-ae8b-6dfcc8dd8891" Alias="leaf_icon.svg" Level="2">
  <Info>
    <Parent Key="19fa82cf-82ab-4bcc-bc71-0561ed304c7a">IconSection</Parent>
    <Path>/IconSection/leaf_iconsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T15:02:02</CreateDate>
    <NodeName Default="leaf_icon.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kltcb350/leaf_icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>