<?xml version="1.0" encoding="utf-8"?>
<Media Key="7cc771fc-3b9d-4785-b458-817a3b84e7ae" Alias="LetUsKnow" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LetUsKnow</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-05T16:04:25</CreateDate>
    <NodeName Default="LetUsKnow" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>