<?xml version="1.0" encoding="utf-8"?>
<Media Key="69383bf9-c796-45d8-b30e-0d63ff5e2060" Alias="meeting.svg" Level="2">
  <Info>
    <Parent Key="451b3e7e-97af-4f25-8a51-0b61461f462a">services</Parent>
    <Path>/services/meetingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T10:04:06</CreateDate>
    <NodeName Default="meeting.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bodjvc2n/meeting.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>