<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7105d08-5fca-44bb-b771-8590a6b2bb53" Alias="miranda.svg" Level="2">
  <Info>
    <Parent Key="f8414885-ed59-4a16-b3ba-016cd06aac0f">Team Members</Parent>
    <Path>/TeamMembers/mirandasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T09:04:19</CreateDate>
    <NodeName Default="miranda.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5lqlejor/miranda.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>