<?xml version="1.0" encoding="utf-8"?>
<Media Key="7dc390a1-0a46-44aa-a81d-dc121cb9d1ca" Alias="natural_icon.svg" Level="2">
  <Info>
    <Parent Key="19fa82cf-82ab-4bcc-bc71-0561ed304c7a">IconSection</Parent>
    <Path>/IconSection/natural_iconsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T15:02:03</CreateDate>
    <NodeName Default="natural_icon.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kmwhdh03/natural_icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>