<?xml version="1.0" encoding="utf-8"?>
<Media Key="f60b5f3d-45d2-4675-aa0e-adf859a8371f" Alias="OnlineSignatures.net-302 1.svg" Level="2">
  <Info>
    <Parent Key="3326f810-28ed-4872-9ed1-3eb47e929440">About us</Parent>
    <Path>/AboutUs/OnlineSignaturesnet3021svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T15:57:52</CreateDate>
    <NodeName Default="OnlineSignatures.net-302 1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/z5rksfgj/onlinesignaturesnet-302-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>