<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad9e6de0-7846-44a0-876a-1a9bca5db63a" Alias="planet.svg" Level="2">
  <Info>
    <Parent Key="25f1f34d-0076-42eb-bb50-bf28654fb4c7">TrustedSection</Parent>
    <Path>/TrustedSection/planetsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T19:07:42</CreateDate>
    <NodeName Default="planet.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/clidyt03/planet.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>