<?xml version="1.0" encoding="utf-8"?>
<Media Key="7695f0c6-898f-4043-8de9-75b5abb52c2b" Alias="Riskmanagement_tn.svg" Level="2">
  <Info>
    <Parent Key="efbdf800-e3c7-40a6-a093-69eb130051c5">Services thumbnails</Parent>
    <Path>/ServicesThumbnails/Riskmanagement_tnsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T11:15:42</CreateDate>
    <NodeName Default="Riskmanagement_tn.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/grgdpfeu/riskmanagement_tn.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>