<?xml version="1.0" encoding="utf-8"?>
<Media Key="26507044-7dc2-46ef-8908-e15acfcc6dcb" Alias="Statistics_tn.svg" Level="2">
  <Info>
    <Parent Key="efbdf800-e3c7-40a6-a093-69eb130051c5">Services thumbnails</Parent>
    <Path>/ServicesThumbnails/Statistics_tnsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T11:15:42</CreateDate>
    <NodeName Default="Statistics_tn.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/w1gpfrgz/statistics_tn.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>