<?xml version="1.0" encoding="utf-8"?>
<Media Key="6574c024-d231-416a-831b-d78735a6fa71" Alias="SuccessStory.svg" Level="2">
  <Info>
    <Parent Key="7340ff5d-aacc-4d50-95aa-7e2e0095037b">SuccessSection</Parent>
    <Path>/SuccessSection/SuccessStorysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T12:02:20</CreateDate>
    <NodeName Default="SuccessStory.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0z4nnbzk/successstory.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>