<?xml version="1.0" encoding="utf-8"?>
<Media Key="7340ff5d-aacc-4d50-95aa-7e2e0095037b" Alias="SuccessSection" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SuccessSection</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-10T12:02:09</CreateDate>
    <NodeName Default="SuccessSection" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>