<?xml version="1.0" encoding="utf-8"?>
<Media Key="8148f786-a361-49a9-8c4e-3a28015e4737" Alias="team.svg" Level="2">
  <Info>
    <Parent Key="451b3e7e-97af-4f25-8a51-0b61461f462a">services</Parent>
    <Path>/services/teamsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T10:04:05</CreateDate>
    <NodeName Default="team.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/orfouy10/team.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>