<?xml version="1.0" encoding="utf-8"?>
<Media Key="33b58250-c10f-43a5-878d-e9ae42c1b55e" Alias="tina.svg" Level="2">
  <Info>
    <Parent Key="f8414885-ed59-4a16-b3ba-016cd06aac0f">Team Members</Parent>
    <Path>/TeamMembers/tinasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T09:04:19</CreateDate>
    <NodeName Default="tina.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ui5bpuiu/tina.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>