<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a80eebc-7bcf-49be-bfbc-764405669775" Alias="trusted_group.svg" Level="2">
  <Info>
    <Parent Key="25f1f34d-0076-42eb-bb50-bf28654fb4c7">TrustedSection</Parent>
    <Path>/TrustedSection/trusted_groupsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T19:07:46</CreateDate>
    <NodeName Default="trusted_group.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jzjdfogu/trusted_group.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>