<?xml version="1.0" encoding="utf-8"?>
<Media Key="25f1f34d-0076-42eb-bb50-bf28654fb4c7" Alias="TrustedSection" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TrustedSection</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-06T19:07:38</CreateDate>
    <NodeName Default="TrustedSection" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>