<?xml version="1.0" encoding="utf-8"?>
<Content Key="49dc8154-b685-4707-b081-0066a118b745" Alias="2025-11-05 12:06 - Test" Level="2">
  <Info>
    <Parent Key="af91a5e7-515a-45aa-bc2d-449add353d5e">Form Submissions</Parent>
    <Path>/FormSubmissions/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-05T12:06:04</CreateDate>
    <NodeName Default="2025-11-05 12:06 - Test" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[testing@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Test]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Test1]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[070111111]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>