<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c82c6b5-e085-41db-b86f-48d9d971d2a1" Alias="2025-11-04 20:40 - Test" Level="2">
  <Info>
    <Parent Key="af91a5e7-515a-45aa-bc2d-449add353d5e">Form Submissions</Parent>
    <Path>/FormSubmissions/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-04T20:40:49</CreateDate>
    <NodeName Default="2025-11-04 20:40 - Test" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[test@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Test]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[070000111]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>