<?xml version="1.0" encoding="utf-8"?>
<Content Key="67965cc0-4ab5-41ae-baa9-0467e1653e9a" Alias="About" Level="2">
  <Info>
    <Parent Key="c0285c07-13c6-4312-8dd0-ecd9430e408c">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutUsPage</ContentType>
    <CreateDate>2025-11-09T17:04:07</CreateDate>
    <NodeName Default="About" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cd3450cb-c2c8-48fa-ab43-0945e668170f">aboutUsPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "910736f6-b1ae-443c-ba1c-90e59d42fdc1",
      "key": "a017b195-305d-4c61-82e9-664af57d7f5f",
      "udi": null,
      "values": [
        {
          "alias": "teamTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022 style=\u0022text-align: center;\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003EA team of professionals\u003Cbr\u003Ewith years of experience\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "teamLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our experts"
        },
        {
          "alias": "teamMemberList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "33a41826-42ae-4e00-b661-46141d14240d",
                "key": "56905980-73d6-4c10-b73c-6a5dd442cfb9",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Newton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "a40bf898-43a5-43ff-8520-7c59ddbe1176",
                        "mediaKey": "fdc1a3d2-0b7f-4088-8f59-76cdf13ceae7",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "33a41826-42ae-4e00-b661-46141d14240d",
                "key": "f135f231-bcfc-4ac1-98d4-f5fb09caf1a9",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "AJ Carter"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "208d2996-8f10-4790-aed6-70a05516210d",
                        "mediaKey": "2433cd89-c3da-4d9e-bf54-08820771998d",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "33a41826-42ae-4e00-b661-46141d14240d",
                "key": "a70e604c-9fe8-4e26-b50b-e437a9f0657b",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Aaron Lambert"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Business Specialist at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "4b261a09-3697-4262-aa48-263efe64a095",
                        "mediaKey": "4a96fafd-5231-42fb-9ec6-151c1428881e",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "33a41826-42ae-4e00-b661-46141d14240d",
                "key": "c84132c1-f04d-48db-a46f-dfd99257e593",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tina Fox"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "CEO \u0026 Founder at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "cc36cd4d-54c7-417c-b421-4077515de0b8",
                        "mediaKey": "33b58250-c10f-43a5-878d-e9ae42c1b55e",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "33a41826-42ae-4e00-b661-46141d14240d",
                "key": "67eaf2f9-7a83-471f-812d-006050a481cc",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Kerr"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": " CFO \u0026 Co-Founderat Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "587e12c5-7f28-4b2c-bb1b-cb7afa13e292",
                        "mediaKey": "40856c62-5bf1-4456-a00f-1fb52cea9a02",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "33a41826-42ae-4e00-b661-46141d14240d",
                "key": "a94d9cce-ab7f-4b8c-9dbe-adcd14213739",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Head of HR at Onatrix"
                  },
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Miranda Dayton"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f5aa32bd-274f-4c9a-bbdc-ff40f565e6e1",
                        "mediaKey": "c7105d08-5fca-44bb-b771-8590a6b2bb53",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "33a41826-42ae-4e00-b661-46141d14240d",
                "key": "2b188551-6d86-4390-a6d8-e4e17e8844e1",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Banking Advisor at Swedbank"
                  },
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Kevin Gardner"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "a895fbb8-13eb-4cb7-88fc-b6fbda6bd567",
                        "mediaKey": "f1a8c127-687f-443c-9eeb-0819a7b285dd",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "56905980-73d6-4c10-b73c-6a5dd442cfb9",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "f135f231-bcfc-4ac1-98d4-f5fb09caf1a9",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a70e604c-9fe8-4e26-b50b-e437a9f0657b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c84132c1-f04d-48db-a46f-dfd99257e593",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "67eaf2f9-7a83-471f-812d-006050a481cc",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a94d9cce-ab7f-4b8c-9dbe-adcd14213739",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "2b188551-6d86-4390-a6d8-e4e17e8844e1",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "56905980-73d6-4c10-b73c-6a5dd442cfb9",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "f135f231-bcfc-4ac1-98d4-f5fb09caf1a9",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "a70e604c-9fe8-4e26-b50b-e437a9f0657b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "c84132c1-f04d-48db-a46f-dfd99257e593",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "67eaf2f9-7a83-471f-812d-006050a481cc",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "a94d9cce-ab7f-4b8c-9dbe-adcd14213739",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "2b188551-6d86-4390-a6d8-e4e17e8844e1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "d0a5ea35-ae82-4bdf-8b58-b4a3573b8697",
      "key": "4bd1852d-ed54-4634-874f-a22b8ce584cd",
      "udi": null,
      "values": [
        {
          "alias": "letUsKnowTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next Project"
        },
        {
          "alias": "letUsKnowAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "letUsKnowPhone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "letUsKnowEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        },
        {
          "alias": "letUsKnowImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "28f0846c-788a-40d9-83d1-e0de93504956",
              "mediaKey": "1ad16678-8c1f-4c67-8d97-58433a63b134",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c8f1f62c-d02d-4958-8eec-4441d4effa6e",
      "key": "06796246-1b2e-44e2-adc6-5cfe560b4f65",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "a017b195-305d-4c61-82e9-664af57d7f5f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4bd1852d-ed54-4634-874f-a22b8ce584cd",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a017b195-305d-4c61-82e9-664af57d7f5f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "4bd1852d-ed54-4634-874f-a22b8ce584cd",
        "contentUdi": null,
        "settingsKey": "06796246-1b2e-44e2-adc6-5cfe560b4f65",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>