<?xml version="1.0" encoding="utf-8"?>
<Content Key="494b73ea-6573-4ef6-a636-4024e2223a4a" Alias="Assurance &amp; Audits" Level="3">
  <Info>
    <Parent Key="68c55413-f707-4fab-b7f8-a8af533beec2">Services</Parent>
    <Path>/Home/Services/AssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-31T11:18:14</CreateDate>
    <NodeName Default="Assurance &amp; Audits" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a4ca7218-3ca6-462e-872a-455fc93f8264">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </pageTitle>
    <serviceDetailAside>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e37cf69f-9ac6-4d97-8d62-00d5f1a85e1d",
      "key": "86a61bea-f170-4a48-b121-c97c77b0a767",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "044a4424-4471-4bb6-b8a6-f46181a201d3",
              "mediaKey": "7c4be2ac-c500-4b49-bff5-8cdab7fdaf31",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "86a61bea-f170-4a48-b121-c97c77b0a767",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "86a61bea-f170-4a48-b121-c97c77b0a767",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAside>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "d9ba4282-cf32-448c-8c8a-8869264e404b",
    "mediaKey": "0e8efe69-9f68-4cac-9b9e-26cd79b7f84c",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>