<?xml version="1.0" encoding="utf-8"?>
<Content Key="f03ecb5d-68ac-4924-94df-723636cbe998" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="68c55413-f707-4fab-b7f8-a8af533beec2">Services</Parent>
    <Path>/Home/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-31T11:18:36</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a4ca7218-3ca6-462e-872a-455fc93f8264">ServiceDetail</Template>
  </Info>
  <Properties>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "c3443ef9-886e-491f-ae18-29c35ae80d78",
    "mediaKey": "b72c73f2-135c-4bd7-9d6a-6c6ed6479e8d",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>