<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a292ed0-e9a1-4ede-9332-bcacb6176470" Alias="Contact" Level="2">
  <Info>
    <Parent Key="c0285c07-13c6-4312-8dd0-ecd9430e408c">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-11-05T13:01:06</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="35364981-2038-4762-9e01-146d022e9450">contactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d0a5ea35-ae82-4bdf-8b58-b4a3573b8697",
      "key": "16875882-1bc6-41c8-ac38-ed7413dba8e3",
      "udi": null,
      "values": [
        {
          "alias": "letUsKnowTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "letUsKnowAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "letUsKnowPhone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "letUsKnowEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        },
        {
          "alias": "letUsKnowImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1c92b1e1-4d47-42a7-acd7-727921d3794f",
              "mediaKey": "1ad16678-8c1f-4c67-8d97-58433a63b134",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c8f1f62c-d02d-4958-8eec-4441d4effa6e",
      "key": "9d5b86ba-a058-4fc7-96bd-7043b4eb0906",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "16875882-1bc6-41c8-ac38-ed7413dba8e3",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "16875882-1bc6-41c8-ac38-ed7413dba8e3",
        "contentUdi": null,
        "settingsKey": "9d5b86ba-a058-4fc7-96bd-7043b4eb0906",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>