<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a292ed0-e9a1-4ede-9332-bcacb6176470" Alias="Contact" Level="2">
  <Info>
    <Parent Key="c0285c07-13c6-4312-8dd0-ecd9430e408c">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-11-05T13:01:06</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="35364981-2038-4762-9e01-146d022e9450">contactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>