<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a292ed0-e9a1-4ede-9332-bcacb6176470" Alias="Contact" Level="2">
  <Info>
    <Parent Key="c0285c07-13c6-4312-8dd0-ecd9430e408c">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-11-05T13:01:06</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="35364981-2038-4762-9e01-146d022e9450">contactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d0a5ea35-ae82-4bdf-8b58-b4a3573b8697",
      "key": "16875882-1bc6-41c8-ac38-ed7413dba8e3",
      "udi": null,
      "values": [
        {
          "alias": "letUsKnowTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "letUsKnowAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "letUsKnowPhone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "letUsKnowEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        },
        {
          "alias": "letUsKnowImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1c92b1e1-4d47-42a7-acd7-727921d3794f",
              "mediaKey": "1ad16678-8c1f-4c67-8d97-58433a63b134",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "62cdf48f-4944-4128-9186-ef67306b9481",
      "key": "b1827922-22f6-40e5-a1e4-c7808eaa7cd3",
      "udi": null,
      "values": [
        {
          "alias": "iconList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "6ab15210-a7b1-497a-bf51-7c5a835501dd",
                "key": "96aa8524-d0b2-4fb0-9bfe-47a50a1c93ef",
                "udi": null,
                "values": [
                  {
                    "alias": "iconImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "7f41d5ce-cb6c-4048-8823-8fef13a5eaec",
                        "mediaKey": "e8470078-b161-44ca-9361-75a12f38ff8d",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "iconName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Fossil"
                  }
                ]
              },
              {
                "contentTypeKey": "6ab15210-a7b1-497a-bf51-7c5a835501dd",
                "key": "92060068-b3b9-4f4d-a785-b0e442d0f5fe",
                "udi": null,
                "values": [
                  {
                    "alias": "iconImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f27787e7-1f34-4075-9c7f-bf3b27a31580",
                        "mediaKey": "a37ca65e-20c7-4d1e-9c04-5640eb036f07",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "iconName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Globe"
                  }
                ]
              },
              {
                "contentTypeKey": "6ab15210-a7b1-497a-bf51-7c5a835501dd",
                "key": "7b7cc828-50ee-48c5-8393-e1871ab59c3f",
                "udi": null,
                "values": [
                  {
                    "alias": "iconImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "3c5da56a-bb90-4788-a812-fdbc87cadf8a",
                        "mediaKey": "bf3c503f-a2cd-4416-8c70-7298cd3426fa",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "iconName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Bird"
                  }
                ]
              },
              {
                "contentTypeKey": "6ab15210-a7b1-497a-bf51-7c5a835501dd",
                "key": "e03ff6bf-ae68-4f27-9411-d6afe916fba8",
                "udi": null,
                "values": [
                  {
                    "alias": "iconImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "37a8276d-e83c-4cf0-926c-09e2e1ab74f4",
                        "mediaKey": "7dc390a1-0a46-44aa-a81d-dc121cb9d1ca",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "iconName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Natural"
                  }
                ]
              },
              {
                "contentTypeKey": "6ab15210-a7b1-497a-bf51-7c5a835501dd",
                "key": "7659149e-5ce4-424a-94e6-5810e2ba43da",
                "udi": null,
                "values": [
                  {
                    "alias": "iconImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "327793c4-9fc0-4dcf-b268-ac0f8983cc6e",
                        "mediaKey": "15825ba0-c5e1-4b7e-ae8b-6dfcc8dd8891",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "iconName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Leaf"
                  }
                ]
              },
              {
                "contentTypeKey": "6ab15210-a7b1-497a-bf51-7c5a835501dd",
                "key": "52117fbb-b4fb-413e-be28-41fe903341ff",
                "udi": null,
                "values": [
                  {
                    "alias": "iconImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ade17bb4-1623-4809-b852-dc3b3b187615",
                        "mediaKey": "83f7eb54-23fe-404e-95dd-0713c17715bf",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "iconName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Identity"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "96aa8524-d0b2-4fb0-9bfe-47a50a1c93ef",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "92060068-b3b9-4f4d-a785-b0e442d0f5fe",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7b7cc828-50ee-48c5-8393-e1871ab59c3f",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e03ff6bf-ae68-4f27-9411-d6afe916fba8",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7659149e-5ce4-424a-94e6-5810e2ba43da",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "52117fbb-b4fb-413e-be28-41fe903341ff",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "96aa8524-d0b2-4fb0-9bfe-47a50a1c93ef",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "92060068-b3b9-4f4d-a785-b0e442d0f5fe",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "7b7cc828-50ee-48c5-8393-e1871ab59c3f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "e03ff6bf-ae68-4f27-9411-d6afe916fba8",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "7659149e-5ce4-424a-94e6-5810e2ba43da",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "52117fbb-b4fb-413e-be28-41fe903341ff",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c8f1f62c-d02d-4958-8eec-4441d4effa6e",
      "key": "9d5b86ba-a058-4fc7-96bd-7043b4eb0906",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "16875882-1bc6-41c8-ac38-ed7413dba8e3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b1827922-22f6-40e5-a1e4-c7808eaa7cd3",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "16875882-1bc6-41c8-ac38-ed7413dba8e3",
        "contentUdi": null,
        "settingsKey": "9d5b86ba-a058-4fc7-96bd-7043b4eb0906",
        "settingsUdi": null
      },
      {
        "contentKey": "b1827922-22f6-40e5-a1e4-c7808eaa7cd3",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>