<?xml version="1.0" encoding="utf-8"?>
<Content Key="d03110f3-a75f-441c-9aba-c31ab6509500" Alias="Risk Management" Level="3">
  <Info>
    <Parent Key="68c55413-f707-4fab-b7f8-a8af533beec2">Services</Parent>
    <Path>/Home/Services/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-31T11:18:54</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a4ca7218-3ca6-462e-872a-455fc93f8264">ServiceDetail</Template>
  </Info>
  <Properties>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "e76f3b97-6256-4b48-971f-7692c13cd09d",
    "mediaKey": "7695f0c6-898f-4043-8de9-75b5abb52c2b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>