<?xml version="1.0" encoding="utf-8"?>
<Content Key="d03110f3-a75f-441c-9aba-c31ab6509500" Alias="Risk Management" Level="3">
  <Info>
    <Parent Key="68c55413-f707-4fab-b7f8-a8af533beec2">Services</Parent>
    <Path>/Home/Services/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-31T11:18:54</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a4ca7218-3ca6-462e-872a-455fc93f8264">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </pageTitle>
    <serviceDetailAside>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e37cf69f-9ac6-4d97-8d62-00d5f1a85e1d",
      "key": "aa7d91ac-6455-491d-9985-7f78315de94c",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "87d81934-cd09-47a9-b4aa-2dbd5cb7fba6",
              "mediaKey": "7c4be2ac-c500-4b49-bff5-8cdab7fdaf31",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "aa7d91ac-6455-491d-9985-7f78315de94c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "aa7d91ac-6455-491d-9985-7f78315de94c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAside>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "e76f3b97-6256-4b48-971f-7692c13cd09d",
    "mediaKey": "7695f0c6-898f-4043-8de9-75b5abb52c2b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>