<?xml version="1.0" encoding="utf-8"?>
<Content Key="68c55413-f707-4fab-b7f8-a8af533beec2" Alias="Service" Level="2">
  <Info>
    <Parent Key="c0285c07-13c6-4312-8dd0-ecd9430e408c">Home</Parent>
    <Path>/Home/Service</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-29T11:56:45</CreateDate>
    <NodeName Default="Service" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="70a11d5e-8af3-461f-bd6e-9938949c2492">servicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "787d1479-e3f7-4e17-ad3f-ec1246a59bd5",
      "key": "3cf52ac1-c796-4836-acb5-8f0645366115",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "8a2beaf9-c0ca-454a-86a8-7adb9815ebe9",
      "key": "e96bf8aa-a6e3-4df0-8db4-0b4e7c8b7693",
      "udi": null,
      "values": [
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "3cf52ac1-c796-4836-acb5-8f0645366115",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "3cf52ac1-c796-4836-acb5-8f0645366115",
        "contentUdi": null,
        "settingsKey": "e96bf8aa-a6e3-4df0-8db4-0b4e7c8b7693",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>