<?xml version="1.0" encoding="utf-8"?>
<Content Key="68c55413-f707-4fab-b7f8-a8af533beec2" Alias="Services" Level="2">
  <Info>
    <Parent Key="c0285c07-13c6-4312-8dd0-ecd9430e408c">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-29T11:56:45</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="70a11d5e-8af3-461f-bd6e-9938949c2492">servicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "787d1479-e3f7-4e17-ad3f-ec1246a59bd5",
      "key": "3cf52ac1-c796-4836-acb5-8f0645366115",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-regular\u0022 style=\u0022text-align: center;\u0022\u003EWe Provide The Solutions \u003Cbr\u003ETo Grow Your Business Faster\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "d0a5ea35-ae82-4bdf-8b58-b4a3573b8697",
      "key": "27ec499e-4304-49c4-97fc-14ff7c7f742a",
      "udi": null,
      "values": [
        {
          "alias": "letUsKnowTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "letUsKnowAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "letUsKnowPhone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "letUsKnowEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        },
        {
          "alias": "letUsKnowImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "38fa83d6-f801-4f32-aab4-30f20b1a23a4",
              "mediaKey": "1ad16678-8c1f-4c67-8d97-58433a63b134",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "8a2beaf9-c0ca-454a-86a8-7adb9815ebe9",
      "key": "e96bf8aa-a6e3-4df0-8db4-0b4e7c8b7693",
      "udi": null,
      "values": [
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "c8f1f62c-d02d-4958-8eec-4441d4effa6e",
      "key": "0a0c51e3-4e97-4e13-9197-8023b2d1f10f",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "3cf52ac1-c796-4836-acb5-8f0645366115",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "27ec499e-4304-49c4-97fc-14ff7c7f742a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "3cf52ac1-c796-4836-acb5-8f0645366115",
        "contentUdi": null,
        "settingsKey": "e96bf8aa-a6e3-4df0-8db4-0b4e7c8b7693",
        "settingsUdi": null
      },
      {
        "contentKey": "27ec499e-4304-49c4-97fc-14ff7c7f742a",
        "contentUdi": null,
        "settingsKey": "0a0c51e3-4e97-4e13-9197-8023b2d1f10f",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>