<?xml version="1.0" encoding="utf-8"?>
<Content Key="63f06396-55fa-4af2-bebe-65ec76949bb5" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-28T14:32:01</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d50b9794-bbf6-4db0-a20d-95d67492cab8",
      "key": "1701c87f-5105-4821-ab94-97e91c3b8b6d",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "d50b9794-bbf6-4db0-a20d-95d67492cab8",
      "key": "bca1b459-e670-4968-b5f1-fa866fb3b642",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Linkedin"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com"
        }
      ]
    },
    {
      "contentTypeKey": "d50b9794-bbf6-4db0-a20d-95d67492cab8",
      "key": "1c3d162f-68bc-416c-96a6-fb7438cc68ba",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://x.com/"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "1701c87f-5105-4821-ab94-97e91c3b8b6d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "bca1b459-e670-4968-b5f1-fa866fb3b642",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1c3d162f-68bc-416c-96a6-fb7438cc68ba",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "1701c87f-5105-4821-ab94-97e91c3b8b6d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "1c3d162f-68bc-416c-96a6-fb7438cc68ba",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "bca1b459-e670-4968-b5f1-fa866fb3b642",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "03d1a89e-b927-42e0-b89e-16db26583c06",
    "mediaKey": "e7cf9858-7ecf-4836-8525-062f95eaaaaf",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>