<?xml version="1.0" encoding="utf-8"?>
<Content Key="05cdfc3b-d430-4a75-8dc9-c32664a78e1a" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="68c55413-f707-4fab-b7f8-a8af533beec2">Services</Parent>
    <Path>/Home/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-31T11:16:22</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a4ca7218-3ca6-462e-872a-455fc93f8264">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </pageTitle>
    <serviceDetailAside>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e37cf69f-9ac6-4d97-8d62-00d5f1a85e1d",
      "key": "3a33aee1-bb88-41b3-8102-022b4bbef9c9",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1da0d26a-4163-47f2-9693-fa06afdbb1b2",
              "mediaKey": "7c4be2ac-c500-4b49-bff5-8cdab7fdaf31",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "3a33aee1-bb88-41b3-8102-022b4bbef9c9",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "3a33aee1-bb88-41b3-8102-022b4bbef9c9",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAside>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "cec7f154-eefc-417c-b7f9-de485d00dc84",
    "mediaKey": "26507044-7dc2-46ef-8908-e15acfcc6dcb",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>