@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.AboutCallbackSection)Model.Content;

    var settings = Model.Settings as ContentModels.AboutCallbackSettings;
}

<section>

    <div>
        @Html.Raw(content.AboutCallbackSectionBody)
    </div>

    <div>
        <div>
            <p>@content.AboutCallbackFormTitle</p>
        </div>
        <p>@content.AboutCallbackFormDescription</p>
    </div>
</section>