@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.IconItems)Model.Content;
}

<div>
    @if(content.IconImage != null)
    {
        <img class="w-auto object-contain" src="@content.IconImage.Url()" />
    }
</div>